.rectangle {
    /* Rectangle 696 */
    position: absolute;
    width: 1280px;
    height: 494px;
    left: 0;
    top: 60px;
}

[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {
    /* Rectangle 13 */
    position: absolute;
    width: 171px;
    height: 36px;
    left: 70px;
    top: 223px;
    margin-top: 6px;

    box-sizing: border-box;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 2px;

}
