.message {

    display: grid;

}

.imageAndText {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;


}

.imageAndText img {
    display: grid;
    width: 50px;
   justify-self: right;




}

.text {
    border: solid;
    background-color: deepskyblue;
    color: #FFFFFF;
    border-radius:5px;
}

.text:after {

}

.name {
    float: right;
justify-self: end;
}

.messageText {

}

.time {
    display: grid;
    grid-column:3/4;
 justify-self: right;
}