.sendForm {
    display: grid;
}

.textarea {

    display: grid;
    border: grey;
    grid-column: 1/3;
    grid-row: 4/5;
}

.button {
    display: grid;
    grid-column: 4;

}

.button:hover {

}
.button:active {

}
